<ion-header>
    <ion-navbar>
         <ion-title>{{ "PROFILE_TITLE" }}</ion-title> 
        <!-- <ion-buttons start>
            <button ion-button (click)="cancel()">
                <span color="primary" showWhen="ios">
                {{ 'CANCEL_BUTTON' }}
                </span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons> -->
        <ion-buttons end>
            <button ion-button [navPush]="ProfileEditPage">
                {{ "Edit" }}
            </button>
            <!-- <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
                <span color="primary" showWhen="ios">
                {{ 'DONE_BUTTON' }}
                </span>
                <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
            </button> -->
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="outer-content">
    <ion-list>
        <ion-item>
            <ion-label>{{ 'Avatar' }}</ion-label>
            <ion-avatar item-end>
                <img [src]="currentUser.avatar">
            </ion-avatar>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'Name' }}</ion-label>
            <ion-note item-end>
                {{ currentUser.name }}
            </ion-note>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'Gender' }}</ion-label>
            <ion-note item-end>
                {{ currentUser.gender }}
            </ion-note>
        </ion-item>
        <ion-item>
            <ion-label>{{ 'Company' }}</ion-label>
            <ion-note item-end>
                {{ currentUser.company }}
            </ion-note>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="currentUser.phones">
        <ion-list-header>
            Phones
        </ion-list-header>
        <ion-item *ngFor="let phone of currentUser.phones">
            {{phone}}
        </ion-item>
    </ion-list>
</ion-content>